@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

body {
  background-color: var(--primary-medium);
  font-family: "Kumbh Sans", sans-serif;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 106% bottom -480%, left 100% top -700%;
}

.profile-card {
  position: relative;
  background-color: var(--neutral-soft);
  max-width: 350px;
  height: 375px;
  border-radius: 15px;
}

.profile-card .background-card-image {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.profile-card .victor-image {
  display: flex;
  border-radius: 50%;
  left: 120px;
  bottom: 180px;
  border: 5px solid #ffffff;
  position: absolute;
}

.profile-card .name {
  color: var(--primary-dark);
  font-weight: 700;
  text-align: center;
  margin-top: 65px;
}

.profile-card .age, .nationality {
  color: var(--primary-soft);
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}

.profile-card .nationality {
  font-size: 14px;
  margin-bottom: 30px;
}

.profile-card .profile-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.profile-card .profile-info .numb {
  color: var(--primary-dark);
  font-weight: 700;
  margin-top: 1.4rem;
}

.profile-card .profile-info .info {
  color: var(--primary-soft);
  font-size: 12px;
  letter-spacing: 1px;
}

.footer {
  position: relative;
  text-align: center;
  bottom: 50px;
}